body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url(/04-Web-APIs/02-Homework/Assets/IMG_8448.PNG);
    background-position: left top;
    height: 100%;
}
.game-box{
    background: #eeeeee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
}
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#c616dd83;
    font:bold 40px;
	color:#fff;
}

#code-title{
    text-align: center;
    font-weight: bold;
}